NEXT_PUBLIC_APP_URL=localhost:3000
NEXT_PUBLIC_BE_URL=localhost:9000
NEXT_PUBLIC_BE_API_KEY=R8TAM4ZFV1l/GXWSJOBLJdagg+0w/B14RRyGHOmtcVY=


NEXT_PUBLIC_MAPTILER_KEY=YD3gVXxE6CGgnSXdd1cO
NEXT_PUBLIC_GEONODE=https://nodeserver.geoportal.co.id

DATABASE_URL="postgresql://postgres:yakuza99xx@rp2p.geoportal.co.id:5432/rp2p_geoportal?schema=public"


NEXTAUTH_URL=localhost
NEXTAUTH_SECRET='sandkmlkadlajmdfnakjfbak'

GEONODE_CLIENT_ID=sa_rp2p
GEONODE_CLIENT_SECRET=TFDnFVDoBlX4qGLJBOUFbhxMrwRPHhsMYn4mEbtt9goDvDUIbEfvl02zA2tyskEUghUIL9UAOKhd5FAVxgbOsGkwWvLbNgx2ddL9ksMYixgiwvDH8y1wdHiDhVYQRpwh
GEONODE_REDIRECT_URI=http://rp2p.geoportal.co.id:3000/api/gn/auth